@model IEnumerable<Projeto_Sistema_de_Vendas.Models.Produto>

<h1>Produtos Cadastrados</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center align-middle">Nome do Produto</th>
            <th class="text-center align-middle">Descrição</th>
            <th class="text-center align-middle">Preço Unitário</th>
            <th class="text-center align-middle">Quantidade em Estoque</th>
            <th class="text-center align-middle">Unidade Medida</th>
            <th class="text-center align-middle">Foto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center align-middle">
                    @Html.DisplayFor(Model => item.Nome)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(Model => item.Descricao)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(Model => item.PrecoUnitario)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(Model => item.QuantidadeEmEstoque)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(Model => item.UnidadeDeMedidaProduto)
                </td>
                <td>
                    <img src=" @Html.DisplayFor(Model => item.Foto)" width="auto" height="auto"/>
                </td>
                <td class="text-center align-middle">
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary mt-3">Editar</a>
                    <a asp-action="Excluir" asp-route-id="@item.Id" class="btn btn-danger mt-3">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br/>
<a asp-action="Cadastrar" class="btn btn-primary w-100">Cadastrar Novo Produto</a>

<a asp-action="Menu" asp-controller="Home" class="btn btn-success w-100 mt-3">Voltar</a>
